{% load static %}

<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>TechNews - HTML and CSS Template</title>
   <link href="{% static 'clientstatic/img/favicon.html' %}" rel=icon>
   <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>
   <link href="{% static 'clientstatic/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'clientstatic/fonts/font-awesome/font-awesome.min.css' %}" rel="stylesheet">
   <link href="{% static 'clientstatic/css/mobile-menu.css' %}" rel="stylesheet">
   <link href="{% static 'clientstatic/css/owl.carousel.css' %}" rel="stylesheet">
   <link href="{% static 'clientstatic/css/owl.theme.default.min.css' %}" rel="stylesheet">
   <link href="{% static 'clientstatic/css/style.css' %}" rel="stylesheet">
   <link href="{% static 'clientstatic/css/style1.css' %}" rel="stylesheet">
   <link rel="stylesheet" href="{% static 'clientstatic/css/jquery.toast.min.css' %}">
   <style type="text/css">
      .active{
         background-color:#aaa69d;
      }
   
   </style>

</head>


<body id="page-top" data-spy="scroll" data-target=".navbar">
   <div id="main-wrapper">
      </div>
         <div class="uc-mobile-menu-pusher">
            <div class="content-wrapper">
               <section id="header_section_wrapper" class="header_section_wrapper">
                  <div class="container">
                     <div class="header-section">
                        <div class="row">
                           <div class="col-md-4">
                              <div class="left_section">
                                 <span id="datee">
                                 </span>
                        
                                 <div class="social">
                                    <a href="https://www.facebook.com/News-Tech-275639229939173/" class="icons-sm fb-ic"><i class="fa fa-facebook"> </i></a>
                                    <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                                    <a class="icons-sm inst-ic"><i class="fa fa-instagram"> </i></a>
                                    <a class="icons-sm tmb-ic"><i class="fa fa-tumblr"> </i></a>
                                    <a class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                                 </div>
                              </div>
                           </div>

                           <div class="col-md-4">
                              <div class="logo">
                              {% for organization in organizations %}
                                  <a><img src="{{ organization.logo.url }}" style = "height:100px; width:200px;" alt="Tech NewsLogo"></a>
                              {% endfor %}
                              </div>
                           </div>
                        </div>
                     </div>



                     <div class="navigation-section navvbar">
                        <nav class="navbar m-menu navbar-default navbar-expand">
                           <div class="container">
                              <div class="navbar-header">
                                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                                 </button>
                              </div>

                              <div class="collapse navbar-collapse ">
                                 <ul class="nav navbar-nav main-nav">
                                    <li ><a class="{% block home %}{% endblock %}" href="{% url 'newsapp:clienthome' %}"> Home </a> </li>
                                    {% for category in categories %}
                                    {% if category.newscategory_set.count != 0 %}
                                    <li class="dropdown"><a {% if category.title == clientcategorydetail.title %} class='active'{% endif %} href="" data-toggle="dropdown" class="dropdown-toggle">{{ category.title }}
                                       <span><i class="fa fa-angle-down"></i></span></a>
                                       <ul class="dropdown-menu ">
                                          <li>
                                             <div class="m-menu-content">
                                                <ul class="col-sm-12">
                                                   {% for root in category.newscategory_set.all %}
                                                   <li><a {% if root.title == clientcategorydetail.title %} class='active'{% endif %} href="{% url 'newsapp:clientcategorydetail' root.pk %}">{{ root.title }}</a></li>
                                                   {% endfor %} 
                                                </ul>
                                             </div>
                                          </li>
                                       </ul>  
                                    </li>
                                    {% else %}
                                    <li><a {% if category.title == clientcategorydetail.title %} class='active'{% endif %}href="{% url 'newsapp:clientcategorydetail' category.pk %}">{{category.title}}</a> </li>
                                    {% endif %}
                                    {% endfor %}   
                                  </ul>
                                  <ul class="nav-cta hidden-xs">
                                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle"><i class="fa fa-search" style="padding-top:13px;"></i></a>
                                       <ul class="dropdown-menu">
                                          <li>
                                             <div class="head-search">
                                                <form role="form" action="{% url 'newsapp:searched' %}">
                                                   <div class="input-group">
                                                      <input type="text" class="form-control" placeholder="Type Something" name='search'> <span class="input-group-btn">
                                                      <button type="submit" class="btn btn-primary">Search
                                                       </button></span>
                                                   </div>
                                                </form>
                                             </div>
                                          </li>
                                       </ul>
                                    </li>
                                 </ul>
                              </div>
                           </div>
                        </nav>
                     </div>
                  </div>
               </section>
<!--- end nav bar----->

      {% block content %}




      {% endblock %}

<!-----footer-------->

            <section id="subscribe_section" class="subscribe_section">
               <div class="row">
                  <form action="{% url 'newsapp:subscriber' %}" method="POST" class="subform1 form-horizontal">
                     {% csrf_token %}
                     <div class="form-group form-group-lg">
                        <label class="col-sm-6 control-label" for="formGroupInputLarge">
                           <h1><span class="red-color">Subscribe</span> for the latest news</h1>

                        </label>
                        <div class="col-sm-3">
                           {{subform.email}}
                        </div>
                        <div class="col-sm-1">
                           <button class="btn btn-large pink">Subscribe</button>
                        </div>
                        <div class="col-sm-2"></div>
                     </div>
                  </form>



               </div>
            </section>



            <section id="footer_section" class="footer_section">

               <div class="container">
                  <hr class="footer-top">
                  <div class="row">
                   {% for organization in organizations %}  
                     <div class="col-md-3">
                        <div class="footer_widget_title">
                           <h3><a href="category.html" target="_self">{{ organization.name }}</a></h3>
                        </div>
                        <div class="logo footer-logo">
                           <a title="fontanero" href="index.html">
                              <img src="{{ organization.logo.url}}" style = "height:180px; width:230px;" alt="technews">
                           </a>
                           <p>{{ organization.about_us }}
                           </p>
                        </div>
                     </div>
                     {% endfor %}
                     <div class="col-md-3">
                        <div class="footer_widget_title">
                           <h3><a href="category.html" target="_self">Discover</a></h3>
                        </div>
                        <div class="row">
                           <div class="col-xs-4">
                              <ul class="list-unstyled left">
                                 <li><a href="#">National</a></li>
                                 <li><a href="#">Science</a></li>
                                 <li><a href="#">Technology</a></li>
                                 <li><a href="#">Sports</a></li>
                                 <li><a href="#">World</a></li>
                              </ul>
                           </div>
                           <div class="col-xs-8">
                              <ul class="list-unstyled">
                                 <li><a href="#">Contact Us</a></li>
                                 <li><a href="#">Newsletter Alerts</a></li>
                                 <li><a href="#">Advertisement Policy</a></li>
                                 <li><a href="#">Terms and Conditions</a></li>
                                 <li><a href="#">Privacy Policy</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3">
                        <div class="footer_widget_title">
                           <h3><a href="#" target="_self">Latest News</h3>
                        </div>
                           {% for newslist in latestnews|slice:'4' %}
                        <div class="media">
                           <div class="media-left">
                              <a href="#"><img class="media-object" src="{{ newslist.image.url}}" style = "height:40px; width:30px;" alt="Generic placeholder image" class='img-responsive'></a>
                           </div>
                           <div class="media-body">
                              <span class="tag purple"><a href="category.html" target="_self">{{ newslist.main_category}}</a></span>
                              <h3 class="media-heading">
                                 <a href="{% url 'newsapp:clientnewsdetail' newslist.pk %}">{{ newslist.title }}</a>
                              </h3>
                           </div>
                        </div>
                           {% endfor %}
                     </div>
                     <div class="col-md-3">
                        <div class="footer_widget_title">
                           <h3><a href="category.html" target="_self">Tech Photos</a></h3>
                        </div>
                        <div class="widget_photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo1.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo2.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo3.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo4.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo5.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo6.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo7.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo8.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo9.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo10.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo11.jpg' %}" alt="Tech Photos">
                           <img class="img-thumbnail" src="{% static 'clientstatic/img/tech_photo12.jpg' %}" alt="Tech Photos">
                        </div>
                     </div>
                  </div>
               </div>

               <div class="footer_bottom_Section">
                  <div class="container">
                     <div class="row">
                        <div class="footer">
                           <div class="col-sm-3">
                              <div class="social">
                                 <a class="icons-sm fb-ic"><i class="fa fa-facebook"></i></a>
                                 <a class="icons-sm tw-ic"><i class="fa fa-twitter"></i></a>
                                 <a class="icons-sm inst-ic"><i class="fa fa-instagram"> </i></a>
                                 <a class="icons-sm tmb-ic"><i class="fa fa-tumblr"> </i></a>
                                 <a class="icons-sm rss-ic"><i class="fa fa-rss"> </i></a>
                              </div>
                           </div>
                           <div class="col-sm-6">
                              <p>&copy; Copyright 2019-Sarobar News . Design by: <a href="https://uicookies.com/">uiCookies</a> </p>
                           </div>
                           <div class="col-sm-3">
                              <p>Sarobar News Magazine</p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </section>


      <!----- end footer------->

      <script src="{% static 'clientstatic/js/jquery-2.1.4.min.js' %}" type="b3e345caed10bce54b11409c-text/javascript"></script>

      <script src="{% static 'clientstatic/js/bootstrap.min.js' %}" type="b3e345caed10bce54b11409c-text/javascript"></script>

      <script src="{% static 'clientstatic/js/mobile-menu.js' %}" type="b3e345caed10bce54b11409c-text/javascript"></script>

      <script src="{% static 'clientstatic/js/owl.carousel.min.js' %}" type="b3e345caed10bce54b11409c-text/javascript"></script>

      <script src="{% static 'clientstatic/js/script.js' %}" type="b3e345caed10bce54b11409c-text/javascript"></script>
   
      <script src="{% static 'clientstatic/js/script.js' %}" type="b3e345caed10bce54b11409c-text/javascript"></script>



      <script type="text/javascript" src="{% static 'clientstatic/js/jquery-3.4.0.min.js"></script>
      <script src="{% static 'clientstatic/js/ajax.libs.jquery.3.4.1.jquery.min.js' %}" > </script>

      <script type="text/javascript" src="{% static 'clientstatic/js/ajax.popper.min.js"></script>


      <div id="fb-root"></div>
      <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3"></script>
      <script type="text/javascript" src="{% static 'clientstatic/js/jquery.toast.min.js' %}"></script>



      <script>
         var d = new Date();
         document.getElementById("datee").innerHTML = d;
      </script>



<script type="text/javascript">
   $(".subform1").on("submit",function(e){
      e.preventDefault();
      $this = $(this);
      $.ajax({
         type:"POST",
         url: $this.attr('action'),
         data: $this.serialize(),
         success : function(data){
            if (data.success){
                $.toast({
                    heading: 'News Flash',
                    text: data.success,
                    bgColor: 'green',
                    position: 'top-right',
                    showHideTransition: 'slide',
                    icon: 'success'
                });
                 $this.trigger("reset");
            }
            else {
              $.toast({
                    heading: 'News Flash',
                    text: data.error,
                    bgColor: 'red',
                    position: 'top-right',
                    showHideTransition: 'slide',
                    icon: 'warning'
                });
              $this.trigger("reset");
           }
         }
      });
   });
</script>






      <script>
         var sharee = document.getElementById("countshares"),
         count = 0;
         sharee.onclick = function() {
         count += 1;
         sharee.innerHTML = count;
         };
      </script>


   </body>

</html>