{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1> Most Commented News</h1>
			{% for news in mostcommented|slice:':1' %}
			<div class="entity_wrapper">
				<div class="entity_thumb">
					<img class="img-responsive" src="{{ news.image.url }}" alt="feature-top">
				</div>

				<div class="entity_title">
					<a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_blank"><h3> {{ news.title }} </h3></a>
				</div>

				<div class="entity_meta">
					<a>{{ news.created_at }}</a>, by: <a href="{% url 'newsapp:editornewslist' %}">{{ news.editor }}</a>
				</div>

				<div class="entity_content">
					{{ news.content |truncatechars:200 }}
				</div>

				<div class="entity_social">
					<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
					<span><i class="fa fa-comments-o"></i>4 <a>Comments</a> </span>
				</div>
			</div>

			{% endfor %}

			<div class="widget hidden-xs m30">
				{% for company in advertiselist|slice:':1' %}

				<img class="img-responsive widget_img" src="{{ company.image.url }}" style = "height:60px; width:800px;"  alt="add_one">
				{% endfor %}
			</div>


			<div class="row">
				<div class="col-md-6">
					{% for news in mostcommented|slice:'1:5' %}
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-fluid" src="{{ news.image.url }}" style = "height:300px; width:350px;" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_blank">{{ news.title|truncatechars:35 }} </a></h5>
						</div>

						<div class="article_date">
							<a>{{ news.created_at }}</a>, by: <a href="{% url 'newsapp:editornewslist' %}">{{ news.editor }}</a>
						</div>

						<div class="category_article_content">
							{{ news.content|truncatechars:200 }}
						</div>

						<div class="article_social">
							<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
							<span><i class="fa fa-comments-o"></i><a>4</a> Comments</span>
						</div>
						<br>

					</div>
					{% endfor %}

				</div>

				<div class="col-md-6">
					{% for news in mostcommented|slice:'5:9' %}
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-fluid" src="{{ news.image.url }}" style = "height:300px; width:350px;" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_blank">{{ news.title|truncatechars:35 }} </a></h5>
						</div>

						<div class="article_date">
							<a>{{ news.created_at }}</a>, by: <a href="{% url 'newsapp:editornewslist' %}">{{ news.editor }}</a>
						</div>

						<div class="category_article_content">
							{{ news.content|truncatechars:200 }}
						</div>

						<div class="article_social">
							<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
							<span><i class="fa fa-comments-o"></i><a>4</a> Comments</span>
						</div>
						<br>
					</div>
					{% endfor %}

				</div>
<!-- 
				<div class="col-md-6">
					<div class="category_article_body">

						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img2.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div> -->

			</div>



<!-- 
			<div class="row">
				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img3.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img4.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

			</div> -->

			<!-- <div class="widget_advertisement">
				<img class="img-responsive" src="assets/img/category_advertisement.jpg" alt="feature-top">
			</div> -->

			<!-- <div class="row">
				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img5.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img6.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

			</div>
		-->
			<!-- <div class="widget_advertisement">
				<img class="img-responsive" src="assets/img/category_advertisement.jpg" alt="feature-top">
			</div> -->

			<!-- <div class="row">
				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img7.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img8.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

			</div> -->

			<!-- <div class="widget_advertisement">
				<img class="img-responsive" src="assets/img/category_advertisement.jpg" alt="feature-top">
			</div>
		-->
			<!-- <div class="row">
				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img7.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img8.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

			</div> -->

			<div class="widget hidden-xs m30">
				{% for company in advertiselist|slice:'1:2' %}
				<img class="img-responsive widget_img" src="{{ company.image.url }}" style = "height:60px; width:800px;"  alt="add_one">
				{% endfor %}
			</div>
			<!-- <div class="row">
				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img7.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

				<div class="col-md-6">
					<div class="category_article_body">
						<div class="top_article_img">
							<img class="img-responsive" src="assets/img/category_img8.jpg" alt="feature-top">
						</div>

						<div class="category_article_title">
							<h5><a href="single.html" target="_blank">Airbnb launches photo-centric app for iPads and Android
							tablets. </a></h5>
						</div>

						<div class="article_date">
							<a href="#">10Aug- 2015</a>, by: <a href="#">Eric joan</a>
						</div>

						<div class="category_article_content">
							Collaboratively administrate empowered markets via plug-and-play networks.
							Dynamically procrastinate B2C users after installed base benefits. Dramatically
							visualize customer directed convergence without revolutionary ROI.
						</div>

						<div class="article_social">
							<span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span>
							<span><i class="fa fa-comments-o"></i><a href="#">4</a> Comments</span>
						</div>

					</div>

				</div>

			</div> -->

			<nav aria-label="Page navigation" class="pagination_section">
				{% if is_paginated %}
				<ul class="pagination">
					{% if page_obj.has_previous %}
					<li>
						<a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a>
					</li>
					{% else %}
					<li class="disabled"><span>&laquo;</span></li>
					{% endif %}
					{% for i in paginator.page_range %}
					{% if page_obj.number == i %}
					<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
					{% else %}
					<li><a href="?page={{ i }}">{{ i }}</a></li>
					{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
					<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
					{% else %}
					<li class="disabled"><span>&raquo;</span></li>
					{% endif %}
				</ul>
				{% endif %}
				
			</nav>

		</div>


		<div class="col-md-4">
			<div class="widget">
				
			



			<div class="widget m30">
				<div class="widget">
					<div class="widget_title widget_black">
						<h2><a>Popular News</a></h2>
					</div>
					{% for news in popularnews|slice:':4' %}
					<div class="media">
						<div class="media-left">
							<a><img class="media-object" src="{{ news.image.url }}" style = "height:100px; width:100px;" alt="Generic placeholder image"></a>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								<a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self"> {{ news.title |truncatechars:60 }}</a>
							</h3> <span class="media-date"><a>{{ news.created_at }}</a>, by: <a href="{% url 'newsapp:editornewslist' %}">{{ news.editor }}</a></span>
							<div class="widget_article_social">
								<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
								<span>
									<a><i class="fa fa-comments-o"></i>4</a> Comments
								</span>
							</div>
						</div>
					</div>
			
						{% endfor %}
					<p class="widget_divider"><a href="{% url 'newsapp:popularnewslist' %}" target="_self">More News&nbsp;&raquo;</a></p>
					

				</div>
				


						{% for company in advertiselist %}
				{% if forloop.counter == 1 %}
				<div class="widget hidden-xs m30">
					<img class="img-responsive widget_img" src="{{ company.image.url }}" alt="add_one">
				</div>
				{% endif %}
				{% endfor %}


				<p class="widget_divider"><a href="#" target="_self">More News&nbsp;&nbsp;&raquo; </a></p>
			</div>

			<div class="widget m30">
				<div class="widget_title widget_black">
					<h2><a>Editor Corner</a></h2>
				</div>
				{% for editor in newseditor %}
				{% if forloop.counter == 1 %}
				<div class="widget_body">
					<img class="img-responsive left" src="{{ editor.image.url }}" style = "height:125px; width:125px;"alt="Generic placeholder image">

					<p>{{ editor.about }}</p>
				</div>
				{% endif %}
				{% endfor %}
			</div>


			<div class="widget hidden-xs m30">
				{% for company in advertiselist|slice:'2:' %}

				<img class="img-responsive add_img" src="{{ company.image.url }}"  style = "height:190px; width:175px;" alt="add_one">

				{% endfor %}
			</div>


		</div>

	</div>

</div>


{% endblock %}



