{% extends 'clienttemplates/clientbase.html' %}

{% load static %}

{% block home %}active{% endblock %}

{% block content %}



<section id="feature_news_section" class="feature_news_section">
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				{% for news in hotnews|slice:":1" %}
				<div class="feature_article_wrapper">
					<div class="feature_article_img">
						<img class="img-responsive top_static_article_img" src="{{ news.image.url }}"  style = "height:500px" alt="feature-top">
					</div>

					<div class="feature_article_inner">
						<div class="tag_lg red"><a>Hot News</a></div>
						<div class="feature_article_title">
							<h1><a  href="{% url 'newsapp:clientnewsdetail' news.id %}" target="_self">{{ news.title }} </a></h1>
						</div>

						<div class="feature_article_date"><a target="_self">{{ news.created_at|date }}</a>&nbsp;
							{% if not news.editor %}
							error 404
							{% else %}
							By: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}" target="_self">{{ news.editor }}</a>
							{% endif %}
						</div>

						<div class="feature_article_content">
							{{  news.content|striptags|safe|truncatechars:150 }}
						</div>

						<div class="article_social">
							<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>

							<!-- <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span> -->
							
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			
			{% for news in topviewednews|slice:":2" %}
			<div class="col-md-5">	
				<div class="feature_static_wrapper">		
					<div class="feature_article_img">
						{% if not news.image %}
						lol
						{% else %}
						<img class="img-responsive" src="{{ news.image.url }}"  style = "height:245px; width:600px;" alt="feature-top">
						{% endif %}
					</div>
					<div class="feature_article_inner">
						<div class="tag_lg purple"><a>Top Viewed</a></div>
						<div class="feature_article_title">
							<h1><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">{{ news.title|truncatechars:40}}</a></h1>
						</div>

						<div class="feature_article_date">
							{% if not news.editor %}
							{% else %}
							<a href="{% url 'newsapp:editornewsdetail' news.editor.id %}" target="_self">{{ news.created_at|date}}</a>
							{% endif %}
							<a href="{% url 'newsapp:clientnewsdetail' news.id %}" target="_self">&nbsp;&nbsp; By:{{ news.editor }}</a></div>

						<div class="feature_article_content">
							{{ news.content|truncatechars:100|safe}}
						</div>

						<div class="article_social">
							<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
							<!-- <span><i class="fa fa-share-alt"></i><a href="#">424</a>Shares</span> -->
						</div>
					</div>
				</div>
				<br>
			</div>
			{% endfor %}
		</div>
	</div>
</section>



<section id="category_section" class="category_section">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				{% for maincategory in clientcategorylist %}
				{% if maincategory.news_set.count > 0 %}
				{% if forloop.counter == 1 %}
				<div class="category_section mobile">
					<div class="article_title header_purple">
						<h2><a href="{% url 'newsapp:clientcategorydetail' maincategory.pk %}" target="_self">{{ maincategory.title }}</a></h2>
					</div>
					{% for news in maincategory.news_set.all|slice:'1:6' %}
					{% if forloop.counter < 2 %}
					<div class="category_article_wrapper">
						<div class="row">

							<div class="col-md-6">
								<div class="top_article_img">
									<a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self"><img class="img-responsive" src="{{ news.image.url }}" width="600" height="700" alt="feature-top"> </a>
								</div>
							</div>

							<div class="col-md-6">
								<span class="tag purple">{{ news.main_category }}</span>
								<div class="category_article_title">
									<h2><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">{{ news.title }}</a></h2>
								</div>

								<div class="category_article_date">
									{% if not news.editor %}
									{% else %}
									by: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}">{{ news.editor }}</a>
									{% endif %}
									</div>

								<div class="category_article_content">
									{{ news.content |truncatechars:150|safe}}
								</div>

								<div class="media_social">
									<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
									<!-- <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span> -->
									<span><i class="fa fa-comments-o"></i><a>4</a> Comments</span>
								</div>
							</div>

						</div>
					</div>

					<div class="category_article_wrapper">
						<div class="row">
							{% elif news|slice:'2:6' %}
							<div class="col-md-6">
								<div class="media">

									<div class="media-left">
										<a href="{% url 'newsapp:clientnewsdetail' news.pk %}"><img class="media-object" src="{{ news.image.url }}" width=150 height=150 alt="Generic placeholder image"></a>
									</div>

									<div class="media-body">
										<span class="tag purple">{{news.main_category}}</span>
										<h3 class="media-heading"><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">{{news.title}}</a></h3>
										<span class="media-date"><a>{{news.created_at}}</a>
											{% if not news.editor %}
											{% else %}
										 by: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}">{{news.editor}}</a>
										 {% endif %}
										</span>
										<div class="media_social">
											<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
											<!-- <span><a href="#"><i class="fa fa-share-alt"></i>424</a> Shares</span> -->
											<span><a><i class="fa fa-comments-o"></i>4</a> Comments</span>
										</div>
									</div>
								</div>
							</div>

							{% endif %}
							{% endfor %}
						</div>

						{% for category in clientcategorylist|slice:':1' %}
						<p class="divider"><a href="{% url 'newsapp:clientcategorydetail' category.pk %}">More News&nbsp;&raquo;</a></p>
						{% endfor %}

					</div>

					{% elif forloop.counter == 2 %}			
					<div class="category_section tablet">
						<div class="article_title header_pink">
							<h2><a href="{% url 'newsapp:clientcategorydetail' maincategory.pk %}" target="_self">{{ maincategory.title }}</a></h2>
						</div>

						<div class="category_article_wrapper">
							<div class="row">
								{% for news in maincategory.news_set.all|slice:':2' %}
								<div class="col-md-6">
									<div class="category_article_body">
										<div class="top_article_img">
											<a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self"><img class="img-responsive" src="{{ news.image.url }}" style = "height:200px; width:350px;" alt="feature-top">
											</a>
										</div>
										<span class="tag pink"><a>{{ news.main_category }}</a></span>
										<div class="category_article_title">
											<h2><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">{{ news.title }} </a></h2>
										</div>

										<div class="article_date"><a>{{ news.created_at }}</a>
											{% if not news.editor %}
											{% else %}
										 by: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}">{{ news.editor}}</a>
										 {% endif %}
										</div>


										<div class="category_article_content">
											{{ news.content |truncatechars:150|safe }}
										</div>

										<div class="media_social">
											<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
											<!-- <span><a href="#"><i class="fa fa-share-alt"></i>424 </a> Shares</span> -->
											<span><i class="fa fa-comments-o"></i><a>4</a> Comments</span>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
						{% for category in clientcategorylist|slice:'1:2' %}
						<p class="divider"><a href="{% url 'newsapp:clientcategorydetail' category.pk %}">More News&nbsp;&raquo;</a></p>
						{% endfor %}
					</div>

					{% else %}	
					<div class="category_section gadget">
						<div class="article_title header_black">
							<h2><a href="{% url 'newsapp:clientcategorydetail' maincategory.pk %}" target="_self">{{ maincategory.title }}</a></h2>
						</div>
						<div class="category_article_wrapper">
							<div class="row">
								<div class="col-md-6">
								{% for news in maincategory.news_set.all|slice:':1' %}
									<div class="category_article_body">
										<div class="top_article_img">
											<a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">
												<img class="img-responsive" src="{{ news.image.url }}" alt="feature-top">
											</a>
										</div>

										<span class="tag black"><a href="category.html" target="_self">{{ news.main_category }}</a></span>
										<div class="category_article_title">
											<h2><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">{{ news.title }}</a>
											</h2>
										</div>

										<div class="article_date">
											{% if not news.editor %}
											{% else %}
											by: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}">{{ news.editor }}</a>
											{% endif %}
										</div>

										<div class="category_article_content">
											{{ news.content |truncatechars:150|safe }}
										</div>

										<div class="media_social">
											<span><a><i class="fa fa-share-alt"></i>424 </a> Shares</span>
											<span><i class="fa fa-comments-o"></i><a>4</a> Comments</span>
										</div>

									</div>
								{% endfor %}
												
								<div class="category_article_list">
								{% for news in maincategory.news_set.all|slice:'1:3' %}
									<div class="media">
										<div class="media-left">
											<a><img class="media-object" src="{{ news.image.url }}" style = "height:150px; width:150px;" alt="Generic placeholder image"></a>
										</div>
										<div class="media-body">
											<h3 class="media-heading"><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">{{ news.title }}</a></h3>
											<span class="media-date"><a>10Aug- 2015</a>
												{% if not news.editor %}
											{% else %}
											 by: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}">{{ news.editor }}</a>
											 {% endif %}
											</span>
											<div class="media_social">
												<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
												<span><a><i class="fa fa-comments-o"></i>4</a> Comments</span>
											</div>
										</div>
									</div>
								{% endfor %}					
								</div>
							</div>
												

							<div class="col-md-6">
							{% for news in maincategory.news_set.all|slice:'3:4' %}
								<div class="category_article_body">
									<div class="top_article_img">
										<img class="img-responsive" src="{{ news.image.url }}" style = "height:400px;" alt="feature-top">
									</div>

									<span class="tag black">{{ news.main_category}}</span>
									<div class="category_article_title">
										<h2><a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self">{{ news.title }}</a></h2>
									</div>

									<div class="article_date">
										{% if not news.editor %}
											{% else %}
										by: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}">{{ news.editor }}</a>
										{% endif %}
									</div>

									<div class="category_article_content">
										{{ news.content |truncatechars:30|safe }}
									</div>

									<div class="article_social">
										<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>
										<span><i class="fa fa-comments-o"></i><a>4</a>Comments</span>
									</div>

								</div>
							{% endfor %}

							</div>
												
						</div>

					</div>

					<p class="divider"><a href="#">More News&nbsp;&raquo;</a></p>
				</div>
				</div>
				{% endif %}
				{% endif %}
				{% endfor %}	

			<div class="col-md-4">
				<div class="widget">
					<div class="widget_title widget_black">
						<h2><a>Popular News</a></h2>
					</div>
					{% for news in popularnews|slice:'4' %}
					<div class="media">
						<div class="media-left">
							<a href="{% url 'newsapp:clientnewsdetail' news.pk %}"><img class="media-object" src="{{ news.image.url }}" style = "height:100px; width:100px;" alt="Generic placeholder image"></a>
						</div>

						<div class="media-body">
							<h3 class="media-heading">
								<a href="{% url 'newsapp:clientnewsdetail' news.pk %}" target="_self"> {{ news.title |truncatechars:60 }}</a>
							</h3> 

							<span class="media-date"><a>{{ news.created_at|date }}</a>
								{% if not news.editor %}
								{% else %}
							 By: <a href="{% url 'newsapp:editornewsdetail' news.editor.id %}">{{ news.editor }}</a>
							 {% endif %}
							</span>
							<p>{{news.content|truncatechars:'60'|safe}}
							<div class="widget_article_social">
								<span><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fnews%2F16%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"><i id="countshares" class="fa fa-share-alt" data-href="http://127.0.0.1:8000/news/{{news.id}}/detail/" data-layout="button" data-size="small"></i></a>Shares</span>				
							</div>
						</div>
					</div>
							{% endfor %}
							<p class="widget_divider"><a href="{% url 'newsapp:popularnewslist' %}" target="_self">More News&nbsp;&raquo;</a></p>
						</div>

						{% for company in advertiselist %}
						{% if forloop.counter == 1 %}
						<div class="widget hidden-xs m30">
							<img class="img-responsive widget_img" src="{{ company.image.url }}" alt="add_one">
						</div>
						{% endif %}
						{% endfor %}



					</div>
				
					<p class="widget_divider"><a href="{% url 'newsapp:popularnewslist' %}" target="_self">More News&nbsp;&raquo;</a></p>
				</div>
				
				<div class="widget hidden-xs m30">
					{% for company in advertiselist|slice:'2:' %}
						<img class="img-responsive add_img" src="{{ company.image.url }}" alt="add_one" style="padding-left: 300px;height: 300px">
					{% endfor %}
				</div>
			</div>
		</div>	
	</div>	
</section>



	<section id="video_section" class="video_section">
		<div class="container">
			<div class="well">
				<div class="row">
					{% for youtubevideo in newslist %}
					{% if forloop.counter == 1 %}
					<div class="col-md-6">

						<div class="embed-responsive embed-responsive-4by3">
							<iframe class="embed-responsive-item" src="{{ youtubevideo.video_link }}" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					{% endif %}
					{% endfor %}
					<div class="col-md-3">
						<div class="embed-responsive embed-responsive-4by3">
							{% for youtubevideo in newslist %}
							{% if forloop.counter == 2 %}
							<iframe class="embed-responsive-item" src="{{ youtubevideo.video_link }}"></iframe>
							{% endif %}
							{% endfor %}
						</div>

						<div class="embed-responsive embed-responsive-4by3 m16">
							{% for youtubevideo in newslist %}
							{% if forloop.counter == 3 %}
							<iframe class="embed-responsive-item" src="{{ youtubevideo.video_link}}"></iframe>
							{% endif %}
							{% endfor %}
						</div>

					</div>

					<div class="col-md-3">
						<div class="embed-responsive embed-responsive-4by3">
							{% for youtubevideo in newslist %}
							{% if forloop.counter == 4 %}
							<iframe class="embed-responsive-item" src="{{ youtubevideo.video_link}}"></iframe>
							{% endif %}
							{% endfor %}
						</div>

						<div class="embed-responsive embed-responsive-4by3 m16">
							{% for youtubevideo in newslist %}
							{% if forloop.counter == 4 %}
							<iframe class="embed-responsive-item" src="{{ youtubevideo.video_link}}"></iframe>
							{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	{% endblock %} 


