{% extends 'clienttemplates/clientbase.html' %}
{% block content %}
<section id="entity_section" class="entity_section">
<div class="container">
	<div class="row">
		<h1 class="text-success">Search Results</h1>
		{% for news in searchednews %}
		<div class="col-md-8">
			<div class="entity_wrapper">
				<div class="entity_title">
					<h1><a href="{% url 'newsapp:clientnewsdetail' news.id %}">{{news.title}}<span class="text-success" style="margin-top: 100px">|News</span></a></h1>
				</div>

				<div class="entity_content">
					<p>{{news.content|truncatechars:'50'}}</p>
				</div>
				<h1><hr class="line"></h1>
			</div>
		</div>
		{% empty %}
		<h1 class="text-danger">no results found</h1>
{% endfor %}

	</div>
</div>
</section>
<!-- {% for news in searchednews %}
<h1>{{news.title}}</h1>
<h2>{{news.content}}</h2>
{% empty %}
<h1>notfound</h1>
{% endfor %}
{% endblock %} -->
